#audioVisualizer {
	position: absolute;
	bottom: 30px;
	left: -5px;
	width: calc(100% + 5px);
	height: 40%;
}


#animation-canvas {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	
}